/* General layout */
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif; 
    font-size: 12px;
    height:100vh;
    width:100%;
    margin:0;
}


main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color:rgb(165,165,165);
    overflow: hidden;
    height:calc(100vh - 75px);
    width: 100%;
}

.mobile{
    display: none;
}

.tablet{
    display: none;
}

.desktop{
    display: none;
}

a{
    text-decoration: none;
    color:rgb(165,165,165);
    font-weight: bold; 
}

ul{
    list-style-type: none;
}

a:hover{
    color:white;
}

i{
    filter:invert(1);
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.centered{
    justify-content: center;
}

.spacebetween{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.flex-1{
    flex:1;
}

.center-aligned{
    align-items: center;
}

.uppercase{
    text-transform: uppercase;
}

.xs-hidden{
    display:none;
}

.hidden{
    display: none;
}

/* Pointer change on hover */
a:hover, .album:hover, i:hover, .button:hover{
    cursor: pointer;
}

.duration:hover, .volume-bar:hover{
    cursor:grab;
}

.duration:active, .volume-bar:active{
    cursor:grabbing;
}

/* Nav layout */
nav{
    background-color: black;
    width:50px;
}

#nav-container{
    margin:0 5px;
    height:100%;
}

nav .flex-row,
nav.flex-column{
    justify-content: center;
}

.upper, .downer{
    justify-content: flex-start;
}

.upper.flex-column{
    row-gap:25px;
    margin-top:15px;
    min-height:600px;
}

#library{
    row-gap:5px;
}

#library .flex-row{
    column-gap:5px;
}

#white-hover:hover .white-hovered{
    filter:brightness(1);
}

#download:hover .white-hovered{
    filter:brightness(1);
}

#current{
    position:relative;
}

#current::before{
    content:"";
    position:absolute;
    left:-20px;
    top:0;
    width:1px;
    height:30px;
    border-left:3px solid yellow;
}

#current a{
    color:white;
}

#playlists{
    row-gap:15px;
    min-height:60px;
}

#add-playlist{
    margin:10px 0 0;
    font-weight: bold;
}

#add-playlist:hover .square{
    background-color: white;
}

.square{
    background-color: rgb(125,125,125);
    padding: 3px 11px;
    text-align: center;
    margin-right: 5px;
    color:black;
    font-size:30px;
}

#logo a img{
    width:40px;
    margin-right:5px;
}

#library a img{
    width:30px;
    filter:brightness(0.5);
}

#library img:hover{
    filter:brightness(1);
}

#current a img{
    filter:none;
}

.nav-section-title{
    color:white;
    font-weight: bolder;
}

#download{
    padding-bottom:10px;
}

#download a img{
    width:15px;
    filter:brightness(0.5);
    margin-right:5px;
}

#profile{
    padding:10px 0 5px;
}

#profile a img{
    width:20px;
    background-color: rgb(125,125,125);
    border:1px solid white;
    border-radius:50%;
    margin-right:10px;
}

#profile a{
    color:white;
}

nav p{
    color:white;
}

.border-bot{
    padding-bottom:10px;
    border-bottom:1px solid white;
}

/* Main section layout */
section{
    background-color: rgb(20,25,34);
    position: relative;
    padding-top:100px;
    width:calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
}

/* Upgrade section layout */
#upgrade{
    position:absolute;
    top:0;
    background-color: rgba(0,0,0,0.2);
    width:100%;
    text-align:right;
    height:80px;
    line-height:80px;
}

.button{
    color:white;
    padding:10px 40px;
    border:1px solid white;
    border-radius:20px;
}

.button:hover{
    font-size:14px;
}

/* Upper nav */
#browse-cathegories{
    row-gap: 20px;
}

#browse-cathegories li{
    padding:0 10px;
}

#highlighted{
    position:relative;
}

#highlighted::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:-5px;
    transform: translateX(-50%);
    width:20px;
    height:1px;
    border-bottom:2px solid lightgreen;
}

/* Music section layout */
.container{
    margin:30px 30px 20px;
    row-gap: 30px;
}

.big-title{
    font-size:25px;
    font-weight: bold;
    padding-bottom:5px;
    color:white;
}

#first-row{
    width:calc(100% - 30px);
    column-gap:15px;
    row-gap: 15px;
    flex-wrap: wrap;
}


#second-row,
#third-row{
    width: calc(100% - 30px);
    column-gap: 15px;
    justify-content: flex-start;
}

.subtitle{
    font-weight:bold;
}

.album{
    padding:10px 0;
    text-align: center;
    flex-shrink:1;
}

#first-row .album{
    width: Calc((100% / 2) - 30px);
    max-width:150px;
}

#second-row .album,
#third-row .album{
    width: Calc((100%/2) - 30px);
    max-width:150px;
}

.album img{
    width:100%;
}

.image-container{
    position:relative;
}

.play{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:50px;
    color:black;
}

.black-layer{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);
    position:absolute;
    top:0;
    left:0;
}

.album:hover .play{
    display: inline-block;
}

.album:hover .black-layer{
    display:inline-block;
}

.album-title{
    color:white;
    font-weight: bold;
    font-size:15px;
    padding-top:10px;
    width:100%;
}

.author{
    width:100%;
    font-weight: bold;
}

.circled{
    border-radius: 50%;
}

/* Footer layout */
footer{
    position:fixed;
    bottom:0;
    height:75px;
    width:100%;
    background-color: rgb(40,40,40);
}

#footer-flex{
    margin:15px;
}

/* Right section of footer */
#reproduced{
    column-gap:30px;
    align-items: center;
    width:33%;
}

#reproduced-container{
    width:33%;
}


.footer-image{
    width:30px;
    margin-right:10px;
}

.footer-title{
    color:white;
    font-size:13px;
    font-weight: bold;
}

.footer-author{
    font-size:9px;
    font-weight: bold;
    color:rgb(200,200,200)
}

.footer-title:hover,
.footer-author:hover{
    text-decoration: underline;
}

.s-column{
    display: flex;
    flex-direction: column;
    margin-left:10%;
}

.ten-c-gapped{
    column-gap:10px;
}

.big-i i{
    font-size:15px;
}

.greyed{
    filter:invert(1) brightness(0.5);
}

.greyed:hover{
    filter:invert(1);
}

/* Central section of footer */
#musicbar{
    width:33%;
}

.ten-r-gapped{
    row-gap:10px;
}

#music-player{
    font-size:15px;
    column-gap:15px;
}

#play-button-item{
    width:25px;
    height:25px;
    position:relative;
}

#play-button{
    font-size:25px;
    margin:0 5px;
    position:absolute;
    top:0;
    left:0;
    transform: translateX(-25%);
}

#play-button:hover{
    font-size:30px;
    transform: translate(-25%,-10%)
}

#flow{
    width:100%;
}

#flow p{
    font-weight: bold;
    color: white;
    font-size:9px;
}

.duration{
    width: 100%;
    background-color: rgb(125,125,125);
    height: 5px;
    border-radius:5px;
    margin:0 20px;
}

.current-duration{
    width:10%;
    height:5px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.timesphere, .volumesphere{
    width:15px;
    height:15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
}

.duration:hover .current-duration{
    background-color: lightgreen;
}

.duration:hover .timesphere{
    display:inline-block;
}

/* Right section of footer */
#volume{
    width:33%;
    justify-content: flex-end;
}

.volume-bar{
    width: 50%;
    background-color: rgb(125,125,125);
    height: 5px;
    border-radius:5px; 
}

.current-volume{
    width: 30%;
    background-color: white;
    height: 5px;
    border-radius:5px;  
    position:relative; 
}

.volume-bar:hover .current-volume{
    background-color: lightgreen;
}

.current-volume:hover .volumesphere{
    display:inline-block;
}

/* Media query changes */
@media screen and (min-width:576px){
    nav{
        width:200px;
    }

    section{
        width:calc(100% - 200px);
    }
    
    .xsmobile{
        display: none;
    }

    .xs-hidden{
        display: inline-block;
    }

    #nav-container{
        margin: 0 20px;
    }

    nav .flex-row,
    nav.flex-column{
    justify-content: flex-start;
    }

    #logo a img{
        width:120px;
    }

    #first-row{
        flex-wrap: wrap;
    }

    #first-row .album{
        width: calc((100% / 2) - 30px);
        max-width:150px;
    }
    
    #second-row .album,
    #third-row .album{
        max-width:150px;
    }

}

@media screen and (min-width:768px) {
    .s-column{
        flex-direction: row;
    }

    #first-row{
        flex-wrap: wrap;
    }

    #first-row .album{
        width: calc((100% / 4) - 30px);
        max-width:150px;
    }
    
    #second-row .album,
    #third-row .album{
        max-width:150px;
    }
}

@media screen and (min-width: 992px){
    #first-row{
        flex-wrap: nowrap;
    }

    #first-row{
        justify-content: space-between;
    }

    #first-row .album{
        max-width:150px;
    }
    
    #second-row .album,
    #third-row .album{
        max-width:150px;
    }
}


